.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.inner{
  width: 300px;
  height: auto;
  margin: auto;
  text-align: center;
  border: 2px solid #1AAB8A;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.result{
  color: #1AAB8A;
  font-size: 20px;
  font-weight: bold;
}
h1{
  color: #4bbccb;
}
.option{
  color: #4bbccb;
  font-size: 20px;
  font-weight: bold;
}
.option input{
  border: 2px solid #4bbccb;
  color: #D24D57;
  font-size: 17px;
  font-weight: bold;
  width: 100px;
  height: 20px;
}
